<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macrochallenggw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MacroChallenggw">
        <activity
            android:name=".sariawan"
            android:exported="true" />
        <activity
            android:name=".flu"
            android:exported="true" />
        <activity
            android:name=".batuk"
            android:exported="true" />
        <activity
            android:name=".malaria"
            android:exported="true" />
        <activity
            android:name=".pegalinu"
            android:exported="true" />
        <activity
            android:name=".kategoripenyakit"
            android:exported="true" />
        <activity
            android:name=".videotutorialbawangputih"
            android:exported="true" />
        <activity
            android:name=".videotutorialjeruknipis"
            android:exported="true" />
        <activity
            android:name=".videotutorialapel"
            android:exported="true" />
        <activity
            android:name=".videotutorialjahe"
            android:exported="true" />
        <activity
            android:name=".videotutorialkayumanis"
            android:exported="true" />
        <activity
            android:name=".videotutorialdelima"
            android:exported="true" />
        <activity
            android:name=".kategoritutorial"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home" />
        <activity android:name=".category" />
        <activity android:name=".jahe" />
        <activity android:name=".kayumanis" />
        <activity android:name=".delima" />
        <activity android:name=".bawangputih" />
        <activity android:name=".jeruknipis" />
        <activity android:name=".apel" />
    </application>

</manifest>